<%- include('partials/header'); -%>

<div class="stamp-details-container">
    <div class="stamp-image">
        <img src="<%= stamp.image %>" alt="<%= stamp.name %>">
    </div>
    <div class="stamp-info">
        <h1 class="stamp-title">
            <%= stamp.name %>
        </h1>
        <p id="stamp-id"><%= stamp.id %></p>
        <p class="stamp-description">
            <%= stamp.description %>
        </p>
        <p class="stamp-details">
            <%= stamp.details %>
        </p>
        <div class="stamp-price">Price: ₹<%= stamp.price %>
        </div>
        <button class="add-to-cart" onclick="">
            <i class="fas fa-shopping-cart"></i> Add to Cart
        </button>
    </div>
</div>

<%- include('partials/footer'); -%>

<script>
    const addToCartButton = document.querySelector('.add-to-cart');

    addToCartButton.addEventListener('click', async () => {
        const productId = document.getElementById('stamp-id').innerText;/* Extract product ID from the page, e.g., from data attributes */

        try {
            const response = await fetch('/api/stamps/addToCart', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ id: productId })
            });

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            const data = await response.json();
            console.log(data); // Log success message or display UI feedback

        } catch (error) {
            console.error('Error adding product to cart:', error);
            // Implement error handling (e.g., display an error message to the user)
        }
    });
</script>